[submodule "bundle/snipMate"]
	path = bundle/snipMate
	url = https://github.com/vim-scripts/snipMate.git
[submodule "bundle/jellybeans"]
	path = bundle/jellybeans
	url = https://github.com/vim-scripts/jellybeans.vim.git
